/* Estilos da página index.html */
.center {
    text-align: center;
}
.justify {
    text-align: justify;
}
.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
#menu li {
    display: inline;
    padding: 30px;
}
#menu li a {
    text-decoration: none;
    color: #546de5;
    font-size: 20px;
}
#menu li a:hover{
    color: grey;
}
.p-30 {
    padding: 30px;
}
.br-50 {
    border-radius: 50%;
}
.social-tm {
    height: 50px;
    width: 50px;
}
.mb-50 {
    margin-bottom: 50px;
}
/* Estilos da página contato.html */
.ml-50 {
    margin-left: 50px;
}